/* Coffee Shop Website CSS and Color Pallette */

body {
    background-color: beige;
    color: #333333;
}

a {
    color: brown;
}

a:visited {
    color: brown;
}

a:hover {
    color: tan;
}

header {
    font-size: x-large;
    font-weight: bold;
    padding: 10px;
    background-color: khaki;
}

img {
    width: 100%;
}

code {
    background-color: tan;
    padding: 10px;
}

blockquote {
    padding: 10px;
    background-color: tan;
}

#websiteheader {
    font-size: xx-large;
    color: khaki;
    background-color: brown;
    padding: 10px;
}

main {
    padding: 10px;
}

#img-div {
    padding: 50px;
    background-color: tan;
    justify-content: center;
}

#img-caption {
    padding: 10px;
    text-align: center;

}

#image {
    display: block;
    max-width: 100%;
}

#title {
    text-align: center;
    font-size: large;
}

#subtitle {
    text-align: center;
    font-size: Medium;
}